*{
    padding: 0;
    margin: 0;
}
.navbar_111{
    /* background-color: green; */
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 10;
}
.navbar_1{
    background-color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #F5F5F5;
    position: relative;
}
.navbar_11{
    /* background-color: yellow; */
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 30% 20%;
}
.logo1{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.axford_dot{
    background-color: #FF5F1F;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 2%;
}
.logo1 > h3{
    color: #353636;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    }
.icons{
    /* background-color: purple; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.icon-images{
    /* background-color: antiquewhite; */
    width: 20px;
    height: 20px;
    position: relative;
}
.icon-images > img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
}
.top-color{
    background-color: transparent;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    border-radius: 50%;
}
.auditor{
    /* background-color: pink; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.auditor > button{
    background-color: #EDF2FE;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    right: 30%;
}
.auditor > button > p{
    color: #585959;
    font-size: 13px;
    font-family: Lato;
    font-weight: 400;
}
.junior_image{
    /* background-color: blue; */
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.junior_image > img{
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.showNotis{
    background-color: #fff;
    width: 450px;
    height: 500px;
    box-shadow: 1px 1px 5px grey;
    position: fixed;
    z-index: 100;
    top: 7%;
    right: 2%;
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}
.show_notis_text{
    /* background-color: yellow; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.show_notis_text > h3{
    color: #353636;
    font-size: 13px;
    font-family: Montserrat;
    font-weight: 600;
    margin-left: 2%;
}

.show_notis_text > p{
    color: #7B8179;
    font-size: 11px;
    font-family: Lato;
    font-weight: 600;
    margin-right: 2%;
}
.rest_1{
    /* background-color: blue; */
    width: 100%;
    flex: 1;
}
.rest_1_1{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.notis_1{
    /* background-color: green; */
    width: 90%;
    height: 90px;
    display: grid;
    grid-template-columns: 13% 87%;
}
.notis_1_img{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
}
.notis_img{
    /* background-color: #EDF2FE; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notis_img > img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
}
.notis_1_texts{
   /* background-color: red; */
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
}
.notis_header{
    /* background-color: blue; */
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.notis_header > h3{
    color: #1D1D1C;
    font-size: 14px;
    font-family: Lato;
    font-weight: 500;
}
.notis_header > p{
    color: #585959;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
    line-height: 20px;
}
.notis_header > p > span{
    color: #4353FF;
    text-decoration: underline;
}
.notis_footer{
    /* background-color: greenyellow; */
    width: 100%;
    flex: 1;
}
.notis_footer > ul{
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.notis_footer > ul > p{
    color: #B3B3B3;
    font-size: 10px;
    font-family: Lato;
    font-weight: 400;
    margin-right: 3%;
}
.notis_footer > ul > li{
    color: #B3B3B3;
    font-size: 10px;
    font-family: Lato;
    font-weight: 400;
    margin: 0 3%;
}
