@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
.navbar111{
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #F5F5F5;
}
.axfordd_logo_dots > a.black_logo{
    color: #000;
}
.axford_logo__linkss > ul > li > a.black_links{
    color: #000;
}
/* blank_space */

.blank_space{
    background-color: #fff;
    width: 100%;
    height: 150px;
}
