@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
.navbar11{
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(8px);
}
.navbar___11{
    /* background-color: yellow; */
    width: 90%;
    height: 100%;
    display: flex;
}
.axford_logo__1{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: flex;
}
.axfordd_logo_dots{
    /* background-color: #000; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.axford_dotss_1{
    background-color: #FF5F1F;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 4%;
    display: flex;
}
.axfordd_logo_dots > a{
    color: rgba(255, 255, 255, 0.98);
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
}
.axford_button_1{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.axford_butons_1{
    /* background-color: purple; */
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
}
.fa-bars{
    color: #fff;
    font-size: 15px;
    font-weight: 100px;
}
.axford_logo__linkss{
    /* background-color: green; */
    width: 100%;
    height: 100%;
}
.axford_logo__linkss > ul{
    /* background-color: orange; */
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.axford_logo__linkss > ul > li{
    /* background-color: purple; */
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.axford_logo__linkss > ul > li > a{
    color: rgba(255, 255, 255, 0.98);
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
    text-decoration: none;
}
.mobile_view_nav{
    background-color: rgba(0,0,0,.4);
    width: 0px;
    height: 350px;
    position: absolute;
    left: 1%;
    z-index: 100;
    display: flex;
    backdrop-filter: blur(8px);
    flex-direction: column;
}
.mobile_cancel{
    /* background-color: red; */
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.mobile_cancel_1{
    /* background-color: green; */
    width: 40px;
    height: 30px;
    position: absolute;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile_links{
    /* background-color: blue; */
    width: 100%;
    flex: 1;
}
.mobile_links_1{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile_links_1 > ul{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.mobile_links_1 > ul > li{
    width: 20%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobile_links_1 > ul > li > a{
    color: rgba(255, 255, 255, 0.98);
    font-size: 0px;
    font-family: Montserrat;
    font-weight: 500;
    text-decoration: none;
}
.welcome-onboard{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    position: relative;
}
.welcome_text{
    /* background-color: blue; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
}
.welcome-text{
    /* background-color: #000; */
    width: 440px;
    height: 281px;
    position: relative;
    left: 7%;
}
.welcome-text > h1{
    color: rgba(255, 255, 255, 0.98);
    font-size: 35px;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 5%;
}
.welcome-text > p{
    color: rgba(255, 255, 255, 0.82);
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    margin-bottom: 10%;
}
.welcome-text > button{
    background-color: transparent;
    width: 179px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 25px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-family: Lato;
    font-weight: 500;
}
.video-icon{
    /* background-color: red; */
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
}

.play-video{
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
    position: relative;
}
.video1{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: center;
}

/*about-us*/

.about-us{
    /* background-color: red; */
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 47% 53%;
}
.about-us-1{
    /* background-color: yellow; */
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
}
.ab-text{
    /* background-color: red; */
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.ab-text h2{
    color: #353636;
    font-size: 27px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
    margin-right: 5%;
}
.vector-6{
    /* background-color: blue; */
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}
.vector-6-1{
    background-color: #A0A1A8;
    width: 138px;
    height: 1px;
}
.about-us-content{
    /* background-color: green; */
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text-content{
    /* background-color: purple; */
    width: 666px;
    height: 280px;
    margin-right: 15%;
}
.about-text-content p span{
    font-weight: 700;
}
.about-text-content p{
    color: #585959;
    font-size: 14px;
    font-family: Lato;
    font-weight: 500;
    line-height: 34px;
    word-wrap: break-word;
}
/*out-founders-1*/
.out-founders-1{
    /* background-color: red; */
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-founder-texts{
    /* background-color: yellow; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5%;
}
.our-founder-texts > h2{
    color: #353636;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}
.our-founder-photo{
    /* background-color: purple; */
    width: 100%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-founder-photo-1{
    /* background-color: yellow; */
    width: 90%;
    height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.indiv-1{
    width: 260px;
    height: 301px;
    position: relative;
}
.indiv-1 img{
    width: 260px;
    height: 301px;
    object-fit: cover;
    object-position: center;
}
.nam-occ-1{
    background-color: #FFFFFF1C;
    backdrop-filter: blur(8px);
    width: 100%;
    height: 85px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.nam-occ-1 > h3{
    color: rgba(255, 255, 255, 0.98);
    font-size: 16px;
    font-family: Lato;
    font-weight: 500;
    word-wrap: break-word;
    margin: 5% 0;
    margin-left: 7%;
}
.nam-occ-1 > p{
    color: rgba(255, 255, 255, 0.61);
    font-size: 14px;
    font-family: Lato;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 7%;
}

/*getting started */

.getting-started{
    /* background-color: yellow; */
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.started-header{
    /* background-color: green; */
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 6%;
}
.started-header > h2{
    color: #353636;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
    margin-right: 3%;
}
.new-hires{
    /* background-color: blue; */
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
}
.red-dot{
    background-color: #FF3D00;
    width: 8.67px;
    height: 8.67px;
    border-radius: 50%;
    margin-right: 5%;
}
.new-hires > p{
    color: #353636;
    font-size: 18px;
    font-family: Lato;
    font-weight: 400;
}
.office_hour{
    /* background-color: purple; */
    width: 90%;
    height: 100%;
    display: flex;
    align-self: center;
    justify-self: center;
}
.office_hour_1{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.our_reg_1{
    /* background-color: purple; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.reg1{
    /* background-color: paleturquoise; */
    width: 530px;
    height: 150px;
}
.reg1-heading, .reg2-heading{
    /* background-color: #fff; */
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #A0A1A8;
}
.reg1-heading > h4, .reg2-heading > h4{
    color: #1D1D1C;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
}
.reg1-text{
    /* background-color: blue; */
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
}
.reg1-text > p{
    color: #585959;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
    margin-top: 2%;
}
.reg2{
    /* background-color: lightgreen; */
    width: 530px;
    height: 150px;
}
.reg2-text-list{
    /* background-color: brown; */
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
}
.reg2-text-list > ul{
    margin-left: 5%;
}
.reg2-text-list > ul > li > p{
    color: #585959;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
}
.reg2-text-list > ul > li > p > span{
    color: #4353FF;
}
.our_reg_2{
    /* background-color: green; */
    width: 100%;
    height: 100%;
}
.our_reg_2 span{
    color: #4353FF;
}

/* important_contacts */

.important_contacts{
    /* background-color: green; */
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.important_contacts_1{
    /* background-color: red; */
    width: 90%;
    height: 450px;
    position: relative;
}
.important_contact_texts{
    /* background-color: yellow; */
    width: 100%;
    height: 40px;
}
.important_contact_texts > h2{
    color: #353636;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: 500;
}
.important_people{
    /* background-color: blue; */
    width: 100%;
    height: 350px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.important_people_1{
    /* background-color: aqua; */
    width: 257px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
.important_image{
    /* background-color: brown; */
    width: 257px;
    height: 259px;
}
.important_image > img{
    width: 257px;
    height: 259px;
    object-fit: cover;
    object-position: center;
}
.important_details{
    /* background-color: yellow; */
    width: 100%;
    flex: 1;
}
.important_details > h4{
    color: #353636;
    font-size: 16px;
    font-family: Lato;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 7%;
}
.important_details > p{
    color: #7B8179;
    font-size: 13px;
    font-family: Lato;
    font-weight: 500;
}
/* .key_information11 */

.key_information11{
    /* background-color: red; */
    width: 100%;
    height: 550px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.key_information_1{
    /* background-color: blue; */
    width: 90%;
    height: 450px;
    display: flex;
    flex-direction: column;
}
.key-info-text{
    /* background-color: yellow; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.key-info-text > h2{
    color: #353636;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 500;
}
.key-info-img-cont{
    /* background-color: purple; */
    width: 100%;
    flex: 1;
}
.key-info-img{
    /* background-color: #000; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.keycont-1{
    /* background-color: green; */
    width: 336px;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keyimg{
    /* background-color: #4353FF; */
    width: 50px;
    height: 50px;
    margin-top: 3%;
    border-radius: 50%;
}
.keyimg > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.key_header{
    /* background-color: violet; */
    width: 100%;
    height: 40px;
    margin: 5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.key_header > h3{
    color: #353636;
    font-size: 16px;
    font-family: Lato;
    font-weight: 500;
}
.key_content-text{
    /* background-color: #FF5F1F; */
    width: 100%;
    flex: 1;
    text-align: center;
}
.key_content-text > p{
    color: #7B8179;
    font-size: 13px;
    font-family: Lato;
    font-weight: 500;
    line-height: 30px;
}
/* what_our_client */

.what_our_client{
    /* background-color: aqua; */
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
}
.what_they_say{
    /* background-color: green; */
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.what_they_say > h2{
    color: #353636;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 500;
}
.what-text{
    /* background-color: blue; */
    width: 637px;
    height: 60px;
    text-align: center;
}
.what-text > p{
    color: #7B8179;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
}
.quotations{
    /* background-color: red; */
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quotation_1{
    /* background-color: green; */
    width: 65%;
    height: 85%;
    border: 2px solid #F5F5F5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.quote-img{
    /* background-color: brown; */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}
.quote-img p{
    color: #1D1D1C;
    font-size: 50px;
    font-family: Lato;
    font-weight: 400;
    position: absolute;
    bottom: 30%;
}
.quote-text{
    /* background-color: antiquewhite; */
    width: 480px;
    height: 120px;
    text-align: center;
}
.quote-text > p{
    color: #585859;
    font-size: 13px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
}
.quote_headers{
    /* background-color: #4353FF; */
    width: 145px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.quote_headers > h4{
    color: #1D1D1C;
    font-size: 15px;
    font-family: Lato;
    font-weight: 600;
}
.quote_headers > p{
    color: #7B8179;
    font-size: 13px;
    font-family: Lato;
    font-weight: 400;
}
.client_img{
    /* background-color: blue; */
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client_img_1{
    /* background-color: yellow; */
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.client1, .client2, .client3, .client4{
    /* background-color: red; */
    background-image: url('../img/Ellipse\ 13.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.client2{
    background-image: url('../img/Ellipse\ 14.svg');
}
.client3{
    background-image: url('../img/Ellipse\ 15.svg');
}
.client4{
    background-image: url('../img/Ellipse\ 16.svg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.client4 > p{
    color: black;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
}


/* Responsive design */
@media (max-width: 428px){

.axford_logo__1{
    width: 100%;
    height: 100%;
    display: flex;
}
.axfordd_logo_dots{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.axford_dotss_1{
    background-color: #FF5F1F;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5%;
}
.axfordd_logo_dots > a{
    color: rgba(255, 255, 255, 0.98);
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    text-decoration: none;
}
.axford_button_1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.axford_butons_1{
    /* background-color: purple; */
    position: relative;
    display: block;
    
}
.white > .fa-bars, .fa-xmark{
    color: #fff;
    font-size: 15px;
    font-weight: 100px;
    display: flex;
    justify-self: center;
    position: absolute;
    top: 25%;
}
.axford_logo__linkss{
    background-color: green;
    width: 0%;
    height: 0%;
}
.axford_logo__linkss > ul{
    width: 0%;
    height: 0%;
}
.axford_logo__linkss > ul > li{
    width: 0%;
    height: 0%;
}
.axford_logo__linkss > ul > li > a{
    font-size: 0px;
    font-weight: 0;
}
.mobile_view_nav{
    background-color: rgba(0,0,0,.4);
    width: 0px;
    height: 350px;
    position: fixed;
    top: 0;
    z-index: 100;
}
.welcome-onboard{
    width: 100%;
    height: 100vh;
    position: relative;
}
.welcome_text{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.welcome-text{
    width: 95%;
    height: 281px;
    position: relative;
    left: 0%;
}
.welcome-text > h1{
    color: rgba(255, 255, 255, 0.98);
    font-size: 30px;
}
.welcome-text > p{
    font-size: 14px;
}
.welcome-text > button{
    width: 179px;
    height: 40px;
    font-size: 14px;
}
.play-video{
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100vh;
    position: relative;
}
.video1{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}



/*about-us*/

.about-us{
    /* background-color: red; */
    width: 100%;
    height: 600px;
    display: block;
    grid-template-columns: 0% 0%;
}
.about-us-1{
    width: 0%;
    height: 0px;
}
.ab-text{
    width: 0%;
    height: 0px;
}
.ab-text h2{
    font-size: 0px;
    margin-right: 0%;
}
.vector-6{
    width: 0%;
    height: 0px;
}
.vector-6-1{
    width: 0px;
    height: 0px;
}
.about-us-content{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text-content{
    /* background-color: purple; */
    width: 95%;
    height: 100%;
    margin-right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text-content p{
    font-size: 14px;
}

/*out-founders-1*/
.out-founders-1{
    /* background-color: yellow; */
    width: 100%;
    height: 1600px;
    margin-top: 30%;
}
.our-founder-texts{
    width: 100%;
    height: 50px;
    margin-bottom: 1%;
}
.our-founder-texts > h2{
    font-size: 20px;
}
.our-founder-photo{
    width: 100%;
    flex: 1;
    height: 0px;
}

.our-founder-photo-1{
    width: 95%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.indiv-1{
    width: 350px;
    height: 341px;
}
.indiv-1 img{
    width: 350px;
    height: 341px;
}

.nam-occ-1 > h3{
    color: rgba(255, 255, 255, 0.98);
    font-size: 16px;
    font-family: Lato;
    font-weight: 500;
    word-wrap: break-word;
    margin: 5% 0;
    margin-left: 7%;
}
.nam-occ-1 > p{
    color: rgba(255, 255, 255, 0.61);
    font-size: 14px;
    font-family: Lato;
    font-weight: 500;
    word-wrap: break-word;
    margin-left: 7%;
}

/*getting started */

.getting-started{
    /* background-color: red; */
    width: 100%;
    height: 1500px;
    margin-top: 30%;
}
.started-header{
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 0;
}
.started-header > h2{
    font-size: 20px;
}
.red-dot{
    width: 8px;
    height: 8px;
}
.new-hires > p{
    font-size: 14px;
}
.office_hour{
    /* background-color: blue; */
    width: 95%;
    height: 95%;
    display: flex;
    align-self: center;
    justify-self: center;
}
.office_hour_1{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
}
.our_reg_1{
    /* background-color: #000; */
    width: 100%;
    height: 90%;
    display: grid;
    justify-content: space-between;
    margin: 0 0;
}
.reg1{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.reg1-heading, .reg2-heading{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #A0A1A8;
}
.reg1-heading > h4, .reg2-heading > h4{
    font-size: 18px;
}
.reg1-text{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: normal;
}
.reg1-text > p{
    font-size: 14px;
}
.reg2{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.reg2-text-list{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: normal;
    margin-top: 2%;
}
.reg2-text-list > ul > li > p{
    font-size: 14px;
}
.our_reg_2{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.our_reg_2 span{
    color: #4353FF;
}


/* important_contacts */

.important_contacts{
    width: 100%;
    height: 1750px;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
.important_contacts_1{
    width: 95%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.important_contact_texts{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.important_contact_texts > h2{
    font-size: 20px;
}
.important_people{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.important_people_1{
    width: 100%;
    height: 381px;
    display: flex;
}
.important_image{
    width: 100%;
    height: 299px;
}
.important_image > img{
    width: 100%;
    height: 299px;
    object-fit: cover;
    object-position: center;
}
.important_details{
    width: 100%;
    flex: 1;
}
.important_details > h4{
    font-size: 18px;
}
.important_details > p{
    font-size: 14px;
}


/* .key_information11 */

.key_information11{
    height: 1000px;
    align-items: center;
    margin-top: 30%;
}
.key_information_1{
    /* background-color: blue; */
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.key-info-text > h2{
    font-size: 20px;
}
.key-info-img{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.keycont-1{
    /* background-color: yellow; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
.keyimg{
    width: 50px;
    height: 50px;
}
.keyimg > img{
    width: 50px;
    height: 50px;
}
.key_header > h3{
    font-size: 18px;
}
.key_content-text > p{
    font-size: 14px;
}


/* what_our_client */

.what_our_client{
    height: 800px;
    margin-top: 30%;
    align-items: center;
    justify-content: space-between;
}
.what_they_say{
    width: 95%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.what_they_say > h2{
    font-size: 20px;
}
.what-text{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.what-text > p{
    font-size: 14px;
}
.quotations{
    width: 100%;
    height: 400px;
}
.quotation_1{
    width: 95%;
    height: 90%;
}
.quote-text{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote-text > p{
    font-size: 14px;
}
.quote_headers{
    width: 200px;
    height: 60px;
}
.quote_headers > h4{
    font-size: 16px;
}
.quote_headers > p{
    color: #7B8179;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
}
.client_img{
    width: 100%;
    height: 70px;
}
.client_img_1{
    width: 250px;
    height: 60px;
}
.client1, .client2, .client3, .client4{
    /* background-color: red; */
    background-image: url('../img/Ellipse\ 13.svg');
    width: 40px;
    height: 40px;
}
.client2{
    background-image: url('../img/Ellipse\ 14.svg');
}
.client3{
    background-image: url('../img/Ellipse\ 15.svg');
}
.client4{
    background-image: url('../img/Ellipse\ 16.svg');
}
.client4 > p{
    font-size: 15px;
}


}
@media(min-width: 601px) and (max-width: 1024px){
.navbar___11{
    width: 97%;
}
.axford_dotss_1{
    margin-right: 5%;
}
.axford_logo__linkss > ul{
    justify-content: space-between;
}
.axford_logo__linkss > ul > li{
    width: 90px;
    height: 100%;
}
.axford_logo__linkss > ul > li > a{
    font-size: 13px;
}

/*about-us*/

.about-us{
    /* background-color: red; */
    height: 550px;
    margin-bottom: 10%;
    position: relative;
}
.about-us-1{
    /* background-color: yellow; */
    width: 97%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-self: flex-end;
}
.about-us-content{
    /* background-color: blue; */
    width: 97%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text-content{
    /* background-color: purple; */
    margin: 0 0;
    width: 100%;
    height: 80%;
}



/*out-founders-1*/

.out-founders-1{
    /* background-color: red; */
    width: 100%;
    height: 550px;
}
.our-founder-photo{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-founder-photo-1{
    /* background-color: yellow; */
    width: 97%;
    height: 100%;
}
.indiv-1{
    width: 180px;
    height: 240px;
    position: relative;
}
.indiv-1 img{
    width: 100%;
    height: 240px;
}
.nam-occ-1{
    height: 60px;
}
.nam-occ-1 > h3{
    font-size: 14px;
}
.nam-occ-1 > p{
    font-size: 11px;
}

/*getting started */

.getting-started{
    width: 100%;
    height: 600px;
}
.started-header{
    width: 97%;
}
.office_hour{
    width: 97%;
    height: 100%;
}
.office_hour_1{
    width: 100%;
    height: 100%;
}
.our_reg_1{
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.reg1{
    /* background-color: yellow; */
    width: 365px;
    height: 200px;
}
.reg2{
    /* background-color: blue; */
    width: 365px;
    height: 200px;
}
.reg2-text-list{
    width: 100%;
    height: 70%;
}


/* important_contacts */

.important_contacts{
    width: 100%;
}
.important_contacts_1{
    width: 97%;
}
.important_people_1{
    width: 180px;
    height: 350px;
    display: flex;
    flex-direction: column;
}
.important_image{
    width: 100%;
    height: 240px;
}
.important_image > img{
    width: 100%;
    height: 240px;
}



/* .key_information11 */
.key_information_1{
    width: 97%;
    height: 450px;
}
.key-info-img-cont{
    width: 100%;
    flex: 1;
}
.keycont-1{
    /* background-color: red; */
    width: 240px;
    height: 280px;
}


/* what_our_client */

.what_our_client{
    /* background-color: aqua; */
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
}
.what_they_say{
    /* background-color: green; */
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.what_they_say > h2{
    color: #353636;
    font-size: 28px;
    font-family: Montserrat;
    font-weight: 500;
}
.what-text{
    /* background-color: blue; */
    width: 637px;
    height: 60px;
    text-align: center;
}
.what-text > p{
    color: #7B8179;
    font-size: 14px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
}
.quotations{
    /* background-color: red; */
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quotation_1{
    /* background-color: green; */
    width: 65%;
    height: 85%;
    border: 2px solid #F5F5F5;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.quote-img{
    /* background-color: brown; */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}
.quote-img p{
    color: #1D1D1C;
    font-size: 50px;
    font-family: Lato;
    font-weight: 400;
    position: absolute;
    bottom: 30%;
}
.quote-text{
    /* background-color: antiquewhite; */
    width: 480px;
    height: 120px;
    text-align: center;
}
.quote-text > p{
    color: #585859;
    font-size: 13px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;
}
.quote_headers{
    /* background-color: #4353FF; */
    width: 145px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.quote_headers > h4{
    color: #1D1D1C;
    font-size: 15px;
    font-family: Lato;
    font-weight: 600;
}
.quote_headers > p{
    color: #7B8179;
    font-size: 13px;
    font-family: Lato;
    font-weight: 400;
}
.client_img{
    /* background-color: blue; */
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.client_img_1{
    /* background-color: yellow; */
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.client1, .client2, .client3, .client4{
    /* background-color: red; */
    background-image: url('../img/Ellipse\ 13.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.client2{
    background-image: url('../img/Ellipse\ 14.svg');
}
.client3{
    background-image: url('../img/Ellipse\ 15.svg');
}
.client4{
    background-image: url('../img/Ellipse\ 16.svg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.client4 > p{
    color: black;
    font-size: 12px;
    font-family: Lato;
    font-weight: 400;
}
}

