*{
    padding: 0;
    margin: 0;
}
.project_launchpad{
    /* background-color: red; */
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 25% 55% 20%;
    position: relative;
}
.empty_space{
    /* background-color: gold; */
    width: 100%;
    height: 100%;
}
.launch_header{
    /* background-color: blue; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.launch_header > h3{
    color: #353636;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    margin-bottom: 2%;
}
.launch_header > p{
    color: #7B8179;
    font-size: 13px;
    font-family: Lato;
    font-weight: 400;
    text-align: center;
}
.launch_header > p > span{
    color: #1D1D1C;
}
.progress_bar{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}
.bar_1{
    background-color: #FFFFFF;
    width: 170px;
    height: 50px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 17%;
}
.bar_text{
    /* background-color: red; */
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.bar_text > p{
    color: #1D1D1C;
    font-size: 10px;
    font-family: Lato;
    font-weight: 400;
}
.bar_text > p > span{
    color: #585959;
}
.color_bar{
    /* background-color: purple; */
    width: 100%;
    height: 15%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.orange_1{
    background-color: #FF5F1F;
    width: 100%;
    height: 100%;
}
.white_1{
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.project_nav{
    /* background-color: green; */
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3.5%;
}
.project_nav ul{
    /* background-color: red; */
    width: 943px;
    height: 65px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.project_nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100%;
}
.project_nav ul li a{
    text-decoration: none;
    color: #353636;
    font-size: 15px;
    font-family: Lato;
    font-weight: 400;
}


@media(max-width: 428px){
.project_launchpad{
    width: 100%;
    height: 135px;
    display: grid;
    grid-template-columns: 0% 100% 0%;
}
.empty_space{
    width: 0%;
    height: 0%;
}
.launch_header{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin: 0 auto;
}
.launch_header > h3{
    color: #353636;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 600;
    margin-bottom: 4%;
}
.launch_header > p{
    font-size: 10px;
    text-align: center;
}
.progress_bar{
    width: 0%;
    height: 0%;
}
.bar_1{
    width: 0px;
    height: 0px;
    bottom: 0%;
}
.bar_text{
    width: 0%;
    height: 0%;
} 
.bar_text > p{
    font-size: 0px;
    font-weight: 0;
}
.color_bar{
    width: 0%;
    height: 0%;
    grid-template-columns: 0% 0%;
}
.orange_1{
    width: 0%;
    height: 0%;
}
.white_1{
    width: 0%;
    height: 0%;
}
.project_nav{
    width: 100%;
    height: 65px;
}
.project_nav ul{
    width: 100%;
    height: 100%;
}
.project_nav ul li {
    width: 100%;
    height: 100%;
}
.project_nav ul li a{
    font-size: 9px;
}
}