*{
    padding: 0;
    margin: 0;
}
.log_out{
    background-color: #fff;
    width: 350px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 7px #000;
}
.warning_text{
    /* background-color: yellow; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.warning_text > h2{
    font-size: 18px;
    font-family: lato;
}
.logout-form{
    /* background-color: blue; */
    width: 100%;
    flex: 1;
}
.logoutform{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logoutform > button{
    background-color: #353636;
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 13px;
    color: #fff;
    font-family: 600;
}